<div class="modal" id="myModal">
    <input class="hidden custom-checkbox" type="checkbox" name="completed" id="completed">
    <label class="modal-header checkbox-container" for="completed">
        <!-- Checkbox -->
        <svg class="checkbox icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="none" d="M0 0h24v24H0V0z" />
            <path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z" />
        </svg>

        <!-- Checkedbox -->
        <svg class="checkedbox icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="none" d="M0 0h24v24H0V0z" />
            <path
                d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V5h14v14zM17.99 9l-1.41-1.42-6.59 6.59-2.58-2.57-1.42 1.41 4 3.99z" />
        </svg>

    </label>

    <div class="modal-header action-container">
        <!-- Edit icon -->
        <svg class="edit-icon icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="none" d="M0 0h24v24H0V0z" />
            <path
                d="M14.06 9.02l.92.92L5.92 19H5v-.92l9.06-9.06M17.66 3c-.25 0-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29zm-3.6 3.19L3 17.25V21h3.75L17.81 9.94l-3.75-3.75z" />
        </svg>

        <!-- Delete Icon -->
        <svg class="delete-icon icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="none" d="M0 0h24v24H0V0z" />
            <path d="M16 9v10H8V9h8m-1.5-6h-5l-1 1H5v2h14V4h-3.5l-1-1zM18 7H6v12c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7z" />
        </svg>

    </div>

    <!-- Display of event details -->
    <div class="modal-body event-details">
        <h3 id="event-details-title">Event Title</h3>
        <div class="event-details-dates mb-3">
            <span id="event-details-startDate"></span>
            <span id="event-details-startTime"></span>
            <span>&mdash;</span>
            <span id="event-details-endDate"></span>
            <span id="event-details-endTime"></span>
        </div>
        <div>
            <i class="material-icons">&#xe7f4;</i>
            <span id="event-details-reminders"></span>
        </div><br/>
        <div class="event-details-location">
            <svg class="location-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="none" d="M0 0h24v24H0V0z" />
                <path
                    d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zM7 9c0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.88-2.88 7.19-5 9.88C9.92 16.21 7 11.85 7 9z" />
                <circle cx="12" cy="9" r="2.5" /></svg>
            <span id="event-details-location"></span>
        </div>
        <div class="event-details-calendar">
            <span id="calendarJSON"
                class="hidden"><% if(calendars != undefined) { %><%= JSON.stringify(calendars) %><% } %></span>
            <svg class="calendar-icon icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                viewBox="0 0 24 24">
                <path fill="none" d="M0 0h24v24H0V0z" />
                <path
                    d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V9h14v10zm0-12H5V5h14v2zM7 11h5v5H7z" />
            </svg>
            <span id="event-details-calendarID"></span>
        </div>
        <input id="event-details-allDay" type="hidden" name="allDay" value="false">
    </div>

    <!-- Form for event creation and editing -->
    <div class="modal-body event-form">
        <div class="form-group event-form-title">
            <input type="text" id="event-form-title" name="title" class="form-control" placeholder="Add Title">
        </div>
        <input id="event-form-_id" type="hidden" name="_id" value="">
        <input id="event-form-originalCalendarID" type="hidden" name="originalCalendarID" value="">
        <input id="event-form-googleID" type="hidden" name="googleID" value="">
        <input id="event-form-allDay" type="hidden" name="allDay" value="false">
        <div class="form-group-row">
            <div class="form-group">
                <input type="text" id="event-form-startDate" name="startDate" class="datepicker form-control">
            </div>
            <div class="form-group">
                <!-- <input type="text" maxLength="5" id="event-form-startTime" name="startTime" 
              class="form-control timepicker"> -->
                <select name="startTime" id="event-form-startTime" class="form-control timepicker">
                    <% if(timeList != undefined) {
                  timeList.forEach(time => {
                %>
                    <option value="<%= time %>"><%= time %></option>
                    <%
                  })
                } %>
                </select>
            </div>

            <!-- Divider -->
            <div class="form-group a-self-center">&mdash;</div>

            <div class="form-group">
                <input type="text" id="event-form-endDate" name="endDate" class="datepicker form-control">
            </div>
            <div class="form-group">
                <!-- <input type="text" maxLength="5" id="event-form-endTime" name="endTime" 
              class="form-control timepicker"> -->
                <select name="endTime" id="event-form-endTime" class="form-control timepicker">
                    <% if(timeList != undefined) {
                  timeList.forEach(time => {
                %>
                    <option value="<%= time %>"><%= time %></option>
                    <%
                  })
                } %>
                </select>
            </div>
        </div>
        <div class="form-group-row">
            <div class="form-group">
                <i class="material-icons">&#xe7f4;</i>

                <label class="switch">
                    <input id="switch" onclick="changeSwitchState()" type="checkbox"><span class="slider round"></span>
                </label>
            </div>
            <div class="form-group" style="display: none;" id="remindersDate">
                <input type="text" id="event-form-remindersDate" name="remindersDate" class="datepicker form-control">
            </div>            
            <div class="form-group" style="display: none;" id="remindersTime">
                <input type="time" style="width: 110px;" name="remindersTime" id="event-form-remindersTime" class="form-control timepicker" />
            </div>
        </div>
        <div class="form-group-row">
            <div class="form-group">
                <input type="text" id="event-form-location" name="location" class="form-control" placeholder="Location">
            </div>
            <svg class="calendar-icon icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="none" d="M0 0h24v24H0V0z" />
                <path
                    d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V9h14v10zm0-12H5V5h14v2zM7 11h5v5H7z" />
            </svg>
            <div class="form-group">
                <select name="calendarID" id="event-form-calendarID" class="form-control">
                    <% if(calendars != undefined) {
                  calendars.forEach(cal => {
                %>
                    <option value="<%= cal.googleID %>"><%= cal.summary %></option>
                    <%
                  })
                } %>
                </select>
            </div>

        </div>
    </div><!-- end event-form-->

</div>

</div>

<!-- Switch Button -->
<script>
    var states = ["Disable","Enable"], // your possible states
    current_state = 0; // your flag

    function changeSwitchState() {
        current_state=!current_state; // switch
        document.getElementById('switch').value=states[current_state?1:0]; // default will be Disable

        if(document.getElementById("switch").checked == true) {
            document.getElementById("remindersDate").style.display = "block";
            document.getElementById("remindersTime").style.display = "block";
        } else {
            document.getElementById("remindersDate").style.display = "none";
            document.getElementById("remindersTime").style.display = "none";
            document.getElementById("event-form-remindersDate").value = null;
            document.getElementById("event-form-remindersTime").value = "00:00";
        }
    }
</script>