<!-- jQuery -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

<!-- External JS before BootStrap -->
<% 
function constructJSTag(js) {
    let str = `<script src="${js.src}"`;
    if(js.integrity)
        str += ` integrity="${js.integrity}"`;

    if(js.crossorigin)
        str += ` crossorigin="${js.crossorigin}"`;

    str += "></script>";

    return str;
}

if(typeof beforeJS != 'undefined' && beforeJS.length > 0) {
    beforeJS.forEach(js => { 
        let str = '';
        if(!js.src) { // it's an include
%>
            <%- include(js.path); %>
<%      } else
            str = constructJSTag(js);
%>
            <%- str %>
<%  
    });
}
%>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>

<!-- Own Toast -->
<script src="/js/toast.js"></script>

<% 
if(typeof afterJS != 'undefined' && afterJS.length > 0) {
    afterJS.forEach(js => { 
        let str = '';
        if(!js.src) {
            // it's an include
%>
            <%- include(js.path); %>
<%      } else
            str = constructJSTag(js);
%>
            <%- str %>
<%  
    });
}

// Includes - raw <script> tags
if(typeof includeJS != 'undefined') { 
    includeJS.forEach(path => {
%>
    <%- include(path); %>
<%
    })
} 
%>
</body>
</html>