<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %> - Calbitica</title>

  <link rel="shortcut icon" href="/images/brand/icon/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Open+Sans:400,700&display=swap"
    rel="stylesheet">

  <!-- Bootstrap CSS. Got time then compile own version -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

  <!-- Calendar link -->
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.css' />

  <!-- Own CSS -->
  <% 
        if(styles) {
            styles.forEach(s => { 
    %>
  <link rel="stylesheet" type="text/css" href="/<%= s %>">
  <%  
            });
        }
    %>
</head>

<body>
  <header>
    <nav class="navbar">
      <!-- If not signed in  -->
      <% if(!user) { %>
      <a class="plain g_btn" href="/auth/google">Continue with Google</a>
      <% } else { %>
      <!-- If signed in -->
      <input type="checkbox" name="user-profile-toggle" id="user-profile-toggle" class="hidden">
      <label class="user-profile" for="user-profile-toggle">
        <img src="<%= user.thumbnails[0] %>" alt="<%= user.displayNames[0] %> Profile"
          title="<%= user.displayNames[0] %>">
      </label>
      <div class="sidebar-nav">
        <ul>
          <!-- Dashboard -->
          <li class="nav-item"><a href="/dashboard">Dashboard</a></li>

          <!-- Settings -->
          <li class="nav-item"><a href="/settings">Settings</a></li>

          <li class="nav-item submenu">
            <h3 class="submenu-header">Google Calendars</h3>
            <ul class="submenu">
              <% if(!calendars) { %>
              <li class="nav-item">
                <a href="#" id="syncCalBtn">
                  Click here to sync your Calendars.
                </a>
              </li>
              <% } else { 
                    calendars.forEach(cal => {
                %>
                      <li class="nav-item">
                        <label class="calendar-item" for="<%= cal._id %>">
                          <input class="hidden custom-checkbox" type="checkbox" name="isSynced" id="<%= cal._id %>"
                          <% if(cal.sync) { %> checked <% } %>
                          >
                          <!-- Checkbox -->
                          <svg class="checkbox" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"/></svg>

                          <!-- Checkedbox -->
                          <svg class="checkedbox" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V5h14v14zM17.99 9l-1.41-1.42-6.59 6.59-2.58-2.57-1.42 1.41 4 3.99z"/></svg>
                          
                          <span class="calendar-item-name"><%= cal.summary %></span>
                        </a>
                      </li>
              <%    }) 
                } %>
            </ul>
          </li>
          
          <!-- Logout -->
          <li class="nav-item logout"><a href="/auth/logout">Logout</a></li>

          <label class="user-profile-close" for="user-profile-toggle">
            &times;
          </label>
        </ul>
        <h4 id="user-profile-google-name"><%= user.displayNames[0] %></h4>
      </div>

      <!-- Quest Progress -->
      <% if (profile && profile.party && profile.party) { %>
        
      <% } %>
      <!-- Dump -->
      <!--
      <div class="form-group">
        <input type="text" id="dump-entry" class="form-control" placeholder="Brain dump first, schedule later">
      </div>
      <div id="brain-dump-container">

      </div>
      <input type="checkbox" name="brain-dump-toggle" id="brain-dump-toggle" class="hidden" checked>
      <label class="brain-dump-label" for="brain-dump-toggle">
        <svg id="brain-dump-toggle-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path fill="none" d="M0 0h24v24H0V0z" />
          <path
            d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5v-3h3.56c.69 1.19 1.97 2 3.45 2s2.75-.81 3.45-2H19v3zm0-5h-4.99c0 1.1-.9 2-2 2s-2-.9-2-2H5V5h14v9z" />
        </svg>
      -->
        <!-- add number of dumps here -->
      <!--
        <span class="brain-dump-amt badge-circle badge-danger">1</span>
      </label>
      -->

      <!-- Toasts -->
      <div class="toast-container"></div>

      <% } %>
    </nav>
  </header>